{
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "brace-style": ["error", "1tbs"],
        "comma-style": ["error", "last"],
        "indent":  ["error", 4, { "SwitchCase": 1 }],
        "no-constant-condition": "error",
        "semi": ["error", "always"],
        "keyword-spacing": ["error", { "after": true }],
        "space-before-blocks": ["error", "always"],
        "strict": ["error", "global"],
        "quotes": ["error", "single"]
    },
    "ignorePatterns": ["test/data/*"]
}
